<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data>
        <menuitem   
            name="Phases"  
            id="is_phase_main_menu"
            parent="sale.sale_menu_root"
            sequence="90"
        />
        <menuitem
            name="Phases"
            id="is_phase_menu"
            parent="is_phase_main_menu"
            sequence="20"
            action="is_phase_action"
        />

    </data>
</odoo>
